In [1]:
import telegram
from telegram.ext import Updater, CommandHandler

In [2]:
mytoken = '555401135:AAHXSxaTvNVYmJahVDrA2xTuvLekxO07pkU'

In [3]:
updater = Updater(token = mytoken)
dispatcher = updater.dispatcher

In [10]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
def start(bot, update):
    Data = pd.read_json('https://api.tfl.gov.uk/StopPoint/490015193S/Arrivals')
    L = Data.sort_values('timeToStation').reset_index().timeToStation
    a = 'Time to next bus: %.0fm%.0fs, %.0fm%.0fs' % (L[0]//60, L[0]%60, L[1]//60, L[1]%60)
    bot.send_message(chat_id = update.message.chat_id, text = a)

In [ ]:
start_handler = CommandHandler('start', start)
dispatcher.add_handler(start_handler)

In [ ]:
updater.start_polling()

In [5]:
Data = pd.read_json('https://api.tfl.gov.uk/StopPoint/490015193S/Arrivals')
L = Data.sort_values('timeToStation').reset_index().timeToStation
a = 'Time to next bus: %.0fm%.0fs, %.0fm%.0fs' % (L[0]//60, L[0]%60, L[1]//60, L[1]%60)

In [6]:
Data

,$type,bearing,currentLocation,destinationName,destinationNaptanId,direction,expectedArrival,id,lineId,lineName,...,naptanId,operationType,platformName,stationName,timeToLive,timeToStation,timestamp,timing,towards,vehicleId
0,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",172,,Crossharbour,,inbound,2018-03-11T00:30:30Z,85763117,135,135,...,490015193S,1,B,Old Street Station,2018-03-11T00:31:00Z,1515,2018-03-11 00:05:15,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Liverpool Street Station,BL15HBP
1,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",172,,Crossharbour,,inbound,2018-03-11T00:15:30Z,-1280248722,135,135,...,490015193S,1,B,Old Street Station,2018-03-11T00:16:00Z,615,2018-03-11 00:05:15,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Liverpool Street Station,BL15HBY

In [7]:
a

'Time to next bus: 10m15s, 25m15s'

In [9]:
L.shape[0]

2

In [10]:
if L.shape[0] == 1:
    a = 'Time to next bus: %.0fm%.0fs' % (L[0]//60, L[0]%60)
elif L.shape[0] == 0:
    a = 'No bus coming. Take Uber perhaps?'
else:
    a = 'Time to next bus: %.0fm%.0fs, %.0fm%.0fs' % (L[0]//60, L[0]%60, L[1]//60, L[1]%60)

In [11]:
a

'Time to next bus: 10m15s, 25m15s'

In [ ]:
https://api.tfl.gov.uk/StopPoint/490009545N/Arrivals

In [ ]:
def start(bot, update):
    Data = pd.read_json('https://api.tfl.gov.uk/StopPoint/490015193S/Arrivals')
    L = Data.sort_values('timeToStation').reset_index().timeToStation
    a = 'Time to next bus: %.0fm%.0fs, %.0fm%.0fs' % (L[0]//60, L[0]%60, L[1]//60, L[1]%60)
    bot.send_message(chat_id = update.message.chat_id, text = a)

In [14]:
Data = pd.read_json('https://api.tfl.gov.uk/Line/jubilee/Arrivals/940GZZLUCYF?direction=all')

In [15]:
Data.sort_values('timeToStation').reset_index().timeToStation

0      186
1      246
2      336
3      396
4      456
5      456
6      576
7      696
8      696
9      816
10     996
11    1116
12    1295
13    1475
14    1595
15    1775
Name: timeToStation, dtype: int64

In [18]:
Data.groupby('direction').size()

direction
inbound      4
outbound    12
dtype: int64

In [23]:
Data.loc[Data.direction == 'inbound'].groupby('towards').size()

towards
Stanmore        3
Wembley Park    1
dtype: int64

In [22]:
Data.loc[Data.direction == 'outbound'].groupby('towards').size()

towards
North Greenwich     2
Stratford          10
dtype: int64

In [24]:
Data.head()

,$type,bearing,currentLocation,destinationName,destinationNaptanId,direction,expectedArrival,id,lineId,lineName,modeName,naptanId,operationType,platformName,stationName,timeToLive,timeToStation,timestamp,timing,towards,vehicleId
0,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",,At Finchley Road Platform 3,Stratford Underground Station,940GZZLUSTD,outbound,2018-03-11T12:27:30Z,1556401543,jubilee,Jubilee,tube,940GZZLUCYF,1,Eastbound - Platform 2,Canary Wharf Underground Station,2018-03-11T12:27:30Z,1595,2018-03-11 12:00:55,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Stratford,300
1,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",,At Westminster Platform 3,Stratford Underground Station,940GZZLUSTD,outbound,2018-03-11T12:12:31Z,387308285,jubilee,Jubilee,tube,940GZZLUCYF,1,Eastbound - Platform 2,Canary Wharf Underground Station,2018-03-11T12:12:31Z,696,2018-03-11 12:00:55,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Stratford,302
2,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",,Between Waterloo and Southwark,Stratford Underground Station,940GZZLUSTD,outbound,2018-03-11T12:10:31Z,252642446,jubilee,Jubilee,tube,940GZZLUCYF,1,Eastbound - Platform 2,Canary Wharf Underground Station,2018-03-11T12:10:31Z,576,2018-03-11 12:00:55,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Stratford,305
3,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",,Between Baker Street and Bond Street,Stratford Underground Station,940GZZLUSTD,outbound,2018-03-11T12:19:31Z,-1034936892,jubilee,Jubilee,tube,940GZZLUCYF,1,Eastbound - Platform 2,Canary Wharf Underground Station,2018-03-11T12:19:31Z,1116,2018-03-11 12:00:55,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Stratford,307
4,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",,Approaching Bermondsey,Stratford Underground Station,940GZZLUSTD,outbound,2018-03-11T12:06:31Z,251659406,jubilee,Jubilee,tube,940GZZLUCYF,1,Eastbound - Platform 2,Canary Wharf Underground Station,2018-03-11T12:06:31Z,336,2018-03-11 12:00:55,{'$type': 'Tfl.Api.Presentation.Entities.Predi...,Stratford,315

In [217]:
def canarywharf():
    
    _line = 'jubilee'
    lineData = pd.read_json('https://api.tfl.gov.uk/Line/' + _line + '/Status?detail=true')
    status = (pd.DataFrame(Data['lineStatuses'][0]).statusSeverityDescription)[0]
    paragraph = '%s : %s\n' % (_line, status)
    
    _station = '940GZZLUCYF'
    stationData = pd.read_json('https://api.tfl.gov.uk/Line/jubilee/Arrivals/940GZZLUCYF?direction=inbound')
    tab = stationData.sort_values('timeToStation').loc[:,['timeToStation', 'towards']]
    for i in range(tab.shape[0]):
        line = "%.0fm%.0fs (%s)\n" % (tab.iloc[i,:].values[0]//60, tab.iloc[i,:].values[0]%60, tab.iloc[i,:].values[1])
        paragraph += line
    return(paragraph)

In [211]:
stationData = pd.read_json('https://api.tfl.gov.uk/Line/jubilee/Arrivals/940GZZLUCYF?direction=inbound')

In [216]:
stationData.sort_values('timeToStation').loc[:,['timeToStation', 'towards']]

   timeToStation       towards
1            516      Stanmore
0            576  Wembley Park

In [218]:
print(canarywharf())

jubilee : Good Service
4m42s (Stanmore)
6m42s (Wembley Park)

In [210]:
'https://api.tfl.gov.uk/Line/' + _line + '/Status?detail=true'

'https://api.tfl.gov.uk/Line/jubilee/Status?detail=true'